'''
For the correct operation of the program, please install all these libraries:
pip install lxml
pip install requests
pip install beautifulsoup4

For script3.py
pip install git+git://github.com/niklasb/webkit-server.git
pip install xvfbwrapper
pip install dryscrape

'''

